.gitattributes
.osc/*
arc-theme/.osc/*
papirus-icon-theme/.osc/*
papirus-filezilla-theme/.osc/*
papirus-claws-mail-theme/.osc/*
papirus-smplayer-theme/.osc/*
papirus-libreoffice-theme/.osc/*
arc-xfce4-terminal-theme/.osc/*
arc-kde/.osc/*
